atom-text-editor::shadow /deep/ {
  span.comment.block.html span.invalid {
    background-color: transparent !important;
    color: #506686 !important;
  }

  span.source.scss.css span.invalid.illegal {
    color: #97a7c8 !important;
    background-color: transparent !important;
  }

  span.punctuation.definition.tag.html { color: #e76572; }
  .string { color: #56a3b1; }
  .string.js { color: #b3d667; }
  .entity.other.attribute-name.id { color: #fffa9e; }
  .markup.link { color: #90a959; }
}
